.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 80%;
    width: 80%; */
    border: 1px solid red;
  }
  
  .image {
    width: auto;
    height: 400px;
  }
  
  .image:hover {
    transform: scale(1.05);
  }
  
  .smallImage {
    background-color: white;
    opacity: .5;
    height: 100px;
  }
  
  .smallImage:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    background-color: black;
  }
  
  .arrow {
    cursor: pointer;
    font-size: 100px;
    color:white;
  }